/token
/*/etc/commit
/export/*/etc/commit
/export/freeswitch/freeswitch.tar
/export/agents/agents.tar
/export/busytone/busytone.tar
/export/reach3/reach3.tar
/export/rr/rr.tar
/export/kamailio/kamailio.tar
/export/reach-ui/reach-ui.tar
/export/reach-ui-dev/reach-ui-dev.tar
/*/logs
