/token
sipxcom/src/sipxecs
freeswitch/etc/commit
sipxconfig/src/sipxecs
sipxregistrar/src/sipxecs
sipxproxy/src/sipxecs
mongodb-sipxconfig/mongo-data/data
sipxconfig/tmp
sipxproxy/tmp
sipxregistrar/tmp
sipxconfig/run
bootstrap/mongo-client.ini
bootstrap/postgres-pwd.properties
bootstrap/sipxconfig.properties
