  version: "3"
  services:
    bootstrap:
      build: bootstrap/.
      environment:
        - MONGO_HOST
        - DOMAIN
        - SIP_DOMAIN
        - REALM
        - HOST_NAME
        - NETWORK_NAME
        - NETWORK_SUBNET
        - DNS_IP
        - MACHINE_IP
        - MONGO_IP
      volumes:
        - ./bootstrap:/bootstrap
      container_name: bootstrap
      networks:
        - ezuce-private
    dns:
      build: dns/.
      volumes:
        - ./dns/srv/docker/bind9:/named
    #    - ./dns/srv/docker/bind9/etc/named.conf:/etc/named.conf
      container_name: named
      restart: on-failure
      networks:
         ezuce-public:
           ipv4_address: $DNS_IP

    mongo:
      image: mongo
      ports:
       - "27017:27017"
      volumes:
       - ./mongodb-sipxconfig/etc/mongodb.conf:/etc/mongo.config
       - ./mongodb-sipxconfig/mongo-data/data:/data/db
      command: mongod --config /etc/mongo.config
      hostname: $MONGO_HOST
      container_name: $MONGO_HOST
      networks:
         ezuce-private:
           ipv4_address: $MONGO_IP


    mongo-init:
      build: mongodb-init/.
      command: /usr/bin/initialize-mongodb.sh
      container_name: mongo-init
      networks:
        - ezuce-private

    postgres:
      image: ezuce/postgres
      volumes:
        - ./postgres-sipxconfig/pg-data/pgdata:/var/lib/postgresql/data
      container_name: postgres.ezuce
      networks:
        - ezuce-private

    postgres-sipxcdr:
      image: ezuce/postgres-cdr
      ports:
       - "5432:5432"
      volumes:
        - ./postgres-sipxcdr/data/pgdata:/var/lib/postgresql/data
      container_name: postgres.cdr
      hostname: postgres.cdr
      networks:
         ezuce-private:
           ipv4_address: $CDR_IP

    sipxconfig:
      image: ezuce/sipxconfig
      ports:
        - "12000:12000"
      volumes:
        - ./sipxconfig/run/conf/:/usr/local/sipx/etc/sipxpbx/conf/
        - ./bootstrap/mongo-client.ini:/usr/local/sipx/etc/sipxpbx/mongo-client.ini
        - ./bootstrap/sipxconfig.properties:/usr/local/sipx/etc/sipxpbx/sipxconfig.properties
        - ./bootstrap/postgres-pwd.properties:/usr/local/sipx/etc/sipxpbx/postgres-pwd.properties
        - ./bootstrap/ssl-web.keystore:/usr/local/sipx/etc/sipxpbx/ssl/ssl-web.keystore
      depends_on:
        - bootstrap
        - postgres
        - mongo
      container_name: sipxconfig
      hostname: $HOST_NAME
      domainname: $DOMAIN
      restart: on-failure
      networks:
        - ezuce-private

    #freeswitch:
        #image: ezuce/freeswitch-sipx
        #ports:
          #- "8888:22"
          #- "15060:15060"
          #- "8084:8084"
          #- "8184:8184"
          #- "8284:8284"
          #- "8080:8080"
        #container_name: freeswitch
        #networks:
          #- ezuce-private

    nginx:
      image: nginx
      ports:
        - "80:80"
      environment:
        - NGINX_PORT=80
        - DOCKER_API_PORT=81
        - MACHINE_IP=${MACHINE_IP}
      container_name: nginx
      volumes:
        - ./nginx-sipxconfig/etc/sipxconfig.conf:/etc/nginx/conf.d/default.template
      networks:
        - ezuce-private
      depends_on:
        - sipxconfig
      command: /bin/bash -c "envsubst < /etc/nginx/conf.d/default.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
      restart: on-failure

    supervisor:
      build: supervisor/.
      image: ezuce/supervisor
      environment:
        - NETWORK_SUBNET=${NETWORK_SUBNET}
        - MACHINE_IP=${MACHINE_IP}
        - SIP_DOMAIN=${SIP_DOMAIN}
        - HOST_PWD=${PWD}
        - DNS_IP=${DNS_IP}
        - MONGO_HOST=${MONGO_HOST}
        - HOST_NAME=${HOST_NAME}
        - FREEIPS=${FREEIPS}
        - MONGO_IP=${MONGO_IP}
        - CDR_IP=${CDR_IP}
      volumes:
        - ./sipxconfig/run/conf:/usr/local/sipx/etc/sipxpbx/conf
        - ./dns/srv/docker/bind9:/named
        - /var/run/docker.sock:/var/run/docker.sock
      container_name: supervisor
      privileged: true
      restart: on-failure
      networks:
        - ezuce-private

  networks:
    ezuce-public:
      external:
        name: ezuce-public
    ezuce-private:
      external:
        name: ezuce-private
